/* 전체 영역 */
.empInfo {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 80px;
  height: calc(100vh - 271px);
}

/*  인사정보검색 영역 */
.empInfo__searchInfo {
  min-width: 300px;
  /* height: 100%; */
  height: 674px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  justify-items: center;
}
.empInfo__searchInfo__empStatus {
  width: 250px;
  /* height: 3.62%; */
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 4%;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  & span {
    font-size: 11px;
    color: #717179;
  }
}
.v-line {
  border-left: 1px solid #dddddd;
  height: 10px;
}

.empInfo__searchInfo__empSearch {
  width: 250px;
  /* height: 3.62%; */
  height: 24px;
  margin-bottom: 7.8%;
  position: relative;
  & input {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-indent: 13px;
    font-size: 11px;
  }
}
.empInfo__searchInfo__empSearch-searchBtn {
  position: absolute;
  right: 13px;
  top: 7px;
  cursor: pointer;
}

.empInfo__searchInfo__empCards {
  width: 250px;
  height: 78%;
  margin-bottom: 10%;
}
.empInfo__searchInfo__empCards__ordering {
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-end;
  & span {
    font-size: 10px;
    color: #717179;
    margin-right: 5px;
  }
}
.empInfo__searchInfo__empCards__cards {
  width: 250px;
  height: 100%;
}
.empInfo__searchInfo__empCards__card {
  margin-bottom: 6%;
  width: 210px;
  height: 11.4%;
  padding: 10px 12px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.empInfo__searchInfo__empCards__card:nth-last-child() {
  margin-bottom: 0px;
}
.empInfo__searchInfo__empCards__card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.empInfo__searchInfo__empCards__card__item__profile {
  margin: 0px;
}
.empInfo__searchInfo__empCards__card__item__info {
  width: 70%;
  & p {
    margin: 0px;
  }
  & p:nth-child(1) {
    font-size: 10px;
    margin-bottom: 3%;
  }
  & p:nth-child(2) {
    font-size: 9px;
    margin-bottom: 3%;
  }
  & p:nth-child(4) {
    font-size: 9px;
    color: #717179;
    margin: 0px;
  }
}

/* 인사정보 영역*/
.empInfo_mainInfo {
  width: 846px;

  border: 1px solid palegoldenrod;
}
