/* 전체 영역 */
.empInfo {
  display: flex;
  margin-left: 118px;
  margin-right: 118px;
  margin-bottom: 60px;
  max-width: 100%;
  height: calc(100vh - 231px);
}

/*  인사정보검색 영역 */
.empInfo__searchInfo {
  /* min-width: 483px; */
  min-width: 400px;
  height: 716px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  justify-items: center;
  margin-right: 5%;
}
.empInfo__searchInfo__empStatus {
  width: 88%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6%;
  margin-bottom: 4%;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  & span {
    font-size: 14px;
    color: #717179;
  }
}
.v-line {
  border-left: 1px solid #dddddd;
  height: 16px;
}

.empInfo__searchInfo__empSearch {
  width: 88%;
  height: 5%;
  margin-bottom: 8%;
  position: relative;
  & input {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    text-indent: 13px;
    font-size: 14px;
  }
}
.empInfo__searchInfo__empSearch-searchBtn {
  position: absolute;
  right: 13px;
  top: 35%;
  cursor: pointer;
}

.empInfo__searchInfo__empCards {
  width: 88%;
  height: 75%;
  margin-bottom: 6%;
}
.empInfo__searchInfo__empCards__ordering {
  margin-bottom: 4%;
  display: flex;
  justify-content: flex-end;
  & span {
    font-size: 13px;
    color: #717179;
    margin-right: 5px;
  }
}
.empInfo__searchInfo__empCards__cards {
  max-height: 99%;
  width: 100%;
}
.empInfo__searchInfo__empCards__card {
  margin-bottom: 6%;
  width: 90%;
  height: 90px;
  padding: 10px 12px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.empInfo__searchInfo__empCards__card:nth-last-child() {
  margin-bottom: 0px;
}
.empInfo__searchInfo__empCards__card__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.empInfo__searchInfo__empCards__card__item__profile {
  margin: 16px 10px;
  & img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}
.empInfo__searchInfo__empCards__card__item__info {
  width: 60%;
  & p {
    margin: 0px;
  }
  & p:nth-child(1) {
    font-size: 15px;
    margin-bottom: 3%;
  }
  & p:nth-child(2) {
    font-size: 13px;
    margin-bottom: 3%;
  }
  & p:nth-child(4) {
    font-size: 12px;
    color: #717179;
    margin: 0px;
  }
}

/* 인사정보 영역*/
.empInfo__mainInfo {
  min-width: 1120px;
  height: 100%;
  position: relative;
}
.empInfo__mainInfo__profile {
  padding: 0;
  margin: 0;
  width: 100%;
  /* height: 417px; */
  height: 390px;
  display: flex;
  background-color: #a6bbce;
  border-radius: 5px;
  align-items: center;
}
.empInfo__mainInfo__profile__img {
  width: 136px;
  height: 136px;
  object-fit: cover;
  margin-left: 50px;
  position: relative;
  top: -60px;
}
.empInfo__mainInfo__profile__info {
  width: 250px;
  height: 150px;
  margin-left: 50px;
  position: relative;
  top: -55px;
  color: #fff;
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
      font-family: 'Pretendard-Bold';
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.empInfo__mainInfo__profile__info__name {
  font-size: 22px;
  font-family: 'Pretendard-Bold';
  margin: 0px;
  margin-bottom: 30px;
}
.empInfo__mainInfo__profile__info__job,
.empInfo__mainInfo__profile__info__dept,
.empInfo__mainInfo__profile__info__role {
  font-size: 18px;
  margin-left: 20px;
}

.empInfo__mainInfo__infoWrap {
  min-width: 1074px;
  height: 447px;
  position: absolute;
  z-index: 888;
  top: 267px;
  left: 2%;
}
.empInfo__mainInfo__infoWrap-btns {
  display: flex;
  position: absolute;
  right: 1px;
  top: -10px;
}
.empInfo__mainInfo__infoWrap-slide {
  height: 414px;
}
.empInfo__mainInfo__infoWrap__body {
  background-color: #fff;
  padding: 32px;
  width: 1010px;
  height: 350px;
  border-radius: 0px 5px 5px 5px;
  border: 1px solid #d2d2d2;
}

.empInfo__mainInfo__infoWrap__body-show {
  z-index: 1;
  position: absolute;
  opacity: 1;
  left: 0px;
  width: 1010px;
}
.empInfo__mainInfo__infoWrap__body-hidden {
  position: absolute;
  z-index: 0;
  opacity: 0;
}
