.container {
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 20px;
  max-width: 100%;
  height: calc(100vh - 250px);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}

.searchBox {
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 80px;
  max-width: 100%;
}

#empAppointmentList {
  border-radius: 5px;
  border: 1px #d2d2d2 solid;
  width: 200px;
  height: 40px;
  background-color: white;
  outline: none;
  padding-left: 5px;
  margin-right: 20px;
  font-size: 14px;
}

.searchBoxName {
  border-radius: 5px;
  border: 1px #d2d2d2 solid;
  width: 200px;
  height: 36px;
  background-color: white;
  outline: none;
  padding-left: 10px;
  margin-right: 80px;
  font-size: 14px;
}

.buttonArea {
  float: left;
  display: flex;
  margin-top: -39px;
  margin-left: 570px;
}

.buttonArea > .sendMail {
  margin-left: 895px;
}

:deep(.el-table__header) {
  font-size: 15px;
}

:deep(.el-table__header > thead > tr > th) {
  color: #05153b;
  text-align: center;
  height: 50px;
}

:deep(.el-table__body > tbody > tr > td) {
  text-align: center;
  color: black;
  height: 60px;
}
