.schedule {
  margin-left: 42px;
  margin-top: 54px;
  margin-right: 42px;
  margin-bottom: 54px;

  width: calc(100% - 84px);
  height: 100%;
}

.schedule-body {
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  height: calc(100% - 26px);
}
