.schedule {
  margin-left: 42px;
  margin-top: 54px;
  margin-right: 42px;
  margin-bottom: 54px;

  width: calc(100% - 84px);
  height: 100%;
}

.schedule-body {
  position: relative;
  background-color: white;
  border: 1px solid lightgray;
  width: 100%;
  height: 1100px;
  box-sizing: border-box;
  min-width: 100%;
}

.schedule-body--show > section {
  z-index: 1;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0px;
}

.schedule-body--hidden > section {
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 0;
}

@keyframes slidein {
  0% {
    left: 0px;
  }
  100% {
    left: 30px;
  }
}

.schedule-slide {
  width: 100%;
  height: 1100px;
}

.schedule-body-vacation {
  margin-top: -1100px;
}
